
Project3_GD/Assets/Assets/Downloaded art/Sprout Lands - Sprites - Basic pack/Sprout Lands - Sprites - Basic pack/Tilesets/ground tiles/new tiles/Tall Grass hill tiles v.2.png.meta
Project3_GD/Assets/Assets/Downloaded art/Sprout Lands - Sprites - Basic pack/Sprout Lands - Sprites - Basic pack/Color pallete.meta
Project3_GD/Assets/Assets/Downloaded art/Sprout Lands - Sprites - Basic pack/Sprout Lands - Sprites - Basic pack/Color pallete/Color pallete in aseprite - screenshot.PNG
*.meta
